{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <h4>Register FORM</h4>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h4>Регистрация нового пользователя</h4>
            <form method="POST" action="">{% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endblock content %}
