<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
      body {
        margin-left: 15%;
        margin-right: 15%;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 0, 0.5),
          rgba(0, 0, 255, 0.5)
        );
      }

      h1 {
        text-align: center;
      }

      nav {
        border: 2px solid white;
        border-radius: 20px;
        background-image: red;
      }

      .logout {
        float: right;
      }
    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ToDolist</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href={% url 'todo:list' %}>My ToDo</a>
              <a class="nav-link" href="#">Add ToDo</a>
              <a class="nav-link logout" href={% url 'users:login' %}>Login</a>
              
              {% comment %} <a class="nav-link disabled">Disabled</a> {% endcomment %}
            </div>
          </div>
        </div>
      </nav>

      <h1>WELCOME TO YOUR TODOLIST APP!</h1>

      {% block content %}
      {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>